[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyserial = "==3.4"
python-openzwave = "==0.4.19"
six = "==1.14.0"
Django = "*"
Cython = "==0.29.14"
PyDispatcher = "==2.0.5"
wheel = "*"

[requires]
python_version = "3.8"
