asgiref==3.2.7
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography==2.9
Cython==0.29.16
Django==3.0.4
dnspython==1.16.0
enum-compat==0.0.3
eventlet==0.25.1
greenlet==0.4.15
gunicorn==20.0.4
idna==2.9
Louie==2.0
monotonic==1.5
pycparser==2.20
PyDispatcher==2.0.5
pyOpenSSL==19.1.0
pyserial==3.4
python-engineio==3.12.1
python-openzwave==0.4.19
python-socketio==4.5.1
pytz==2019.3
requests==2.23.0
six==1.14.0
sqlparse==0.3.1
urllib3==1.25.8
