{% load static %}
<div id="{{ node.node_id }}" class="card col-1">
    <div class="card-body text-center col-12" >
        <div class="row col-12">
            <div id="light_icon" class="mdi mdi-lightbulb mdi-48px"></div>
            <div class="col-10 card-title text-center">{{ node.name }} <br>{{ node.location }}</div>
        </div>
        <div class="card-header ">
            <input type="hidden" class="light_set_state d-none" value="">
            <h5 id="light_state" class="light_state d-none">{{ node.state }}</h5>
            <div class="inputcontainer">
                {% csrf_token %}
                <input type="hidden" value="{{ node.index }}" class="" id="light_instance" name="light_instance">
            </div>
            <div class="row col-12">
                <i id="light_switch" class="fas fa-toggle-on fa-rotate-180 mdi-48px light_switch"></i>
            </div>
        </div>
    </div>
</div>
