{% autoescape off %}
Bonjour chère {% if user.username != "" %}{{ user.username }}{% else %}{{ user.formated_email }}{% endif %},
Ne tenez pas compte de la suite de ce mail, si vous n'êtes pas à l'initiative de la demande de réinitialisation du mot de passe de votre compte
{{ user.email }} sur HomeCenter.

Sinon:
Pour lancer le processus de réinitialisation du mot de passe de votre compte {{ user.email }} sur HomeCenter,
cliquer le lien suivant:

{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}

Si le lien ci-dessus ne fonctionne pas, veuillez copier et coller ce lien dans la barre d'URL dans une fenêtre de votre
navigateur.

Cordialement,

L'administateur "HomeCenter"

{% endautoescape %}
