{% extends 'homecenter/base.html' %}
{% load static %}

{% block title %}Initialisation du mot de passe{% endblock %}

{% block content %}
    <div class="col-md-6 offset-md-3 align-center text-left">
        <span>
            Un e-mail à été envoyé avec les instructions pour initialiser votre nouveau mot de passe.
        </span><br>
        <span>
            Si un compte existe avec l'e-mail que vous avez indiqué, vous devriez le recevoir sous peu.
        </span><br>
        <span>
            Si vous ne recevez pas d'e-mail, assurez-vous d'avoir entré l'adresse avec laquelle l'administrateur vous a inscrit.
            Vérifiez également si le mail n'est pas dans votre dossier spam.<br>
            Le cas échéant, contacter moi ! ;-)
        </span><br><br>
        <p><i>L'admin.</i></p>
    </div>
{% endblock %}
