{% extends 'homecenter/base.html' %}
{% load static %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block content %}

    <div class="col-12">
        <div id="messages" class="col-12 text-center mh-40">
            {% if form.errors%}
                    {% for error in form.errors.values %}
                        <p class="message text-center offset-2 col-8 rounded alert alert-danger">{{ error|striptags|safe}}</p>
                    {% endfor %}
                {% endif %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="message text-center offset-2 col-8 rounded alert alert-info">{{ message }}</p>
                    {% endfor %}
                {% endif %}
        </div>
        <div id="user_admin_title" class="row col-12 justify-content-around">
            <div >
                <h2>Demande de réinitialisation du mot de passe</h2>
                <hr class="col-4">
            </div>
        </div>
        <div class="row col-12 justify-content-around">
            <div class="fields">
                <form action="{% url 'account:password_reset' %}" method="post">
                {% csrf_token %}
                {{ form.email.errors }}
                    <label for="id_email">Adresse électronique : </label>
                    <input class="form-control" type="email" id="id_email" name="email" maxlength="254" placeholder="e-mail de votre compte HomeCenter" required="">
                    <br>
                    <input type="submit" value="Confirmer"/><br><br>

                    <span>Je me <a href= "/">connecte</a> à mon compte!</span>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
